$header-height: 	60px;
$dark-blue: 		#1f6bd3;
$mid-blue: 			#368cc2;
$link-color: 		#fff;
$link-border-color: #fff;

header {
	background-color: #f2f2f2;
	background: #368cc2;
    background: -moz-linear-gradient(-45deg, $dark-blue 0%, $mid-blue 100%);
    background: -webkit-linear-gradient(-45deg, $dark-blue 0%,$mid-blue 100%);
    background: linear-gradient(135deg, $dark-blue 0%,$mid-blue 100%);

	height: $header-height;
	max-height: $header-height;
	-webkit-user-select: none;
	-ms-user-select: none;
	outline: 0;
	margin-bottom: 8px;

	nav {
	    width: 100% !important;
	    padding: 0 5px;
	    min-height: $header-height;
        overflow: hidden;

        ul {
    	    display: block;
		    line-height: 24px;
		    outline: 0;

		    li {
		    	line-height: $header-height;
	    	    float: left;
    	        font-weight: 600;
	            font-size: .85em;
	            list-style: none;

	            a {
            	    color: $link-color;
				    vertical-align: top;
				    -ms-transition: all 0.29s ease-in-out 0s;
				    transition: all 0.29s ease-in-out 0s;
				    position: relative;
			        text-align: center !important;
		        	padding: 18px;
			        padding-top: 0 !important;
    				padding-bottom: 0 !important;
				    display: block;
				    line-height: inherit;
				    height: inherit;
				    text-decoration: none;

				    &:hover {
				    	color: #aaa;
				    }

				    &.selected:after {
					    position: absolute;
					    content: "";
					    bottom: 0;
					    right: 18px;
					    left: 18px;
					    border-bottom: 3px solid $link-border-color;
					}
	            }

	            &:first-child {
            	    padding-left: 0;
				    margin-left: 0;
				    border-left: 0 none;
	            }

	            &.branding {
	            	a img {
	            		width: auto;
	            		height: unquote('calc(' + $header-height + ' - 5px)');
	            		padding: 5px 0 0 0;
	            	}
	            }
		    }
        }
	}
}